@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --fondo: blue;
  --textocol: white;
  --ligth-red: hsl(356, 100%, 66%);
  --very-l-red: hsl(355, 100%, 74%);
  --very-d-blue: hsl(208, 49%, 24%);
  --Grayish-blue-footer-txt: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-bg: hsl(240, 10%, 16%);
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
}

body {
  /* background-color: rgb(35, 7, 61); */
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background: lightgreen; */
  width: 100%;
  /* margin: 20px; */
}

.logoini {
  width: 4rem;
  height: 3rem;
}

.parte1 {
  background-image: linear-gradient(
    var(--gradient-very-light-red),
    var(--gradient-light-red)
  );
  width: 100%;
  height: 1000px;
  /* max-width: 1440px; */
  justify-content: center;
  border-bottom-left-radius: 120px;
}

.parte1-1 {
  /* background-color: darkgreen; */
  /* margin: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.parte1-1 a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.parte1-2 {
  /* background-color: darkorchid; */
  /* margin: 10px; */
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parte1-2 h1 {
  color: white;
  font-size: 60px;
}

.parte1-2 p {
  color: white;
  font-size: 24px;
}

.parte1-3 {
  /* margin: 10px; */
  /* background-color: mediumblue; */
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.boton1 {
  border: white 2px solid;
  border-radius: 20px;
  padding: 5px;
  background-color: white;
}

.boton2 {
  border: white 2px solid;
  border-radius: 20px;
  padding: 5px;
  background: white;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.boton3 {
  border: white 2px solid;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.parte2 {
  /* background-color: lightsalmon; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
}

.arti1 {
  /* background-color: cadetblue; */
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.arti1 h3 {
  font-size: 2rem;
}

.arti1 p {
  font-size: 1.5rem;
  align-items: center;
}

.img1 {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.parte3 {
  background-color: var(--very-d-blue);
  margin: 20px;
  border-bottom-left-radius: 120px;
  border-top-right-radius: 120px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 500px;
  width: 100%;
}

.parte3-1 {
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.parte3-1 h2 {
  font-size: 3rem;
}

.parte3-1 p {
  padding: 20px;
  font-size: 1.5rem;
}

.telefono {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* height: 500px; */
}

.parte4 {
  /* background-color: lightseagreen; */
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
}

.parte4-1 {
  /* background-color: magenta; */
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.laptop {
  width: 50%;
 
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.parte4-1 h3 {
  font-size: 3rem;
  padding: 20px;
}

.parte4-1 p {
  font-size: 1.5rem;
}

.parte5 {
  background-color: var(--Very-dark-black-blue-footer-bg);
  color: var(--Grayish-blue-footer-txt);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border-top-right-radius: 120px;
  width: 100%;
}

.parte5-1 {
  padding: 10px;
  margin: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.parte5-1 li {
  list-style: none;
}

.tituloD{
  padding: 50px;
  text-align: center;
  font-size: 30px;
}


/* .logoft{
    width: 20%;
} */
